SERVER_ADDR=8000
SERVER_KEEP_ALIVE=15s
SERVER_CONN_DEADLINE=10s
SERVER_ACCEPT_TIMEOUT=3s
SERVER_WORKERS=100

CLIENT_REQUEST_COUNT=100
CLIENT_KEEP_ALIVE=15s

LOGGER_CALLER=false
LOGGER_STACKTRACE=true
LOGGER_LEVEL=debug

POW_COMPLEXITY=20